<IfModule mod_headers.c>
  # Impede o cache dos arquivos de inicialização do Flutter
  <FilesMatch "(index\.html|flutter_service_worker\.js|main\.dart\.js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
  </FilesMatch>
</IfModule>